<div class="text-center">
    <img src="assets/img/police-hat.jpg" width="290" height="250">
    <br>
    <h1 class="display-3" style="color:red">Unauthorized</h1>
    <hr width="50%">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Nothing to see here...</h4>
      <p>
        Looks like you don't have the authorization to access this page! ಠ_ಠ
      </p>
    </div>

    <br>
    <span align="center">
      <a routerLink="/home">
        <i class="fas fa-chevron-left"></i> Go home
      </a>
    </span>
</div>
