<br>
<br>
<br>
<table width="80%">
  <tr align="center">
    <h4> {{ loc?.name }} </h4>
  </tr>
  <tr>
    <td>
      <h5>Balance: ${{ loc?.principal_bal }}</h5>
    </td>
    <td>
      <form #drawForm="ngForm" (ngSubmit)="doDraw(drawForm)">
        <div class="form-row alignt-items-center">
          <div class="col-auto">
            <label class="sr-only" for="Withdrawal">Withdrawal</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">$</div>
              </div>
              <input type="text" class="form-control" id="drawamt" name="drawamt" placeholder="Amount" required ngModel>            
            </div>
          </div>

          <div class="col-auto">
            <button [disabled]="showSpinner" class="btn btn-primary mb-2" type="submit">Withdraw</button>
            <img *ngIf="showSpinner" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  
            <!-- <button type="submit" class="btn btn-primary mb-2">Withdraw</button> -->
          </div>
        </div>
      </form>
    </td>
  </tr>
  <tr>
    <td>
      <h5>APR: {{ loc?.apr * 100 }}%</h5>
    </td>
    <td>
      <form #payForm="ngForm" (ngSubmit)="makePayment(payForm)">
          <div class="form-row align-items-center">
            <div class="col-auto">
              <label class="sr-only" for="PaymentGroup">Payment</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <input type="text" class="form-control" id="payment" name="payment" placeholder="Amount" required ngModel>
              </div>
            </div>
      
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-2">Pay Now</button>
            </div>
          </div>
        </form>
    </td>
  </tr>
</table>




