<a routerLink="/home">
  <i class="fas fa-chevron-left"></i>
  Back Home
</a>
<br>
<br>
<div class="d-flex justify-content-center">
  <h1 class="display-4"> {{ loc?.name }} </h1>
  
</div>
<br><br>
<div class="d-flex justify-content-center">
  <div>
      <h1 class="display-1" style="padding-right:75px" *ngIf="loc?.principal_bal >= 0">
        ${{ loc?.principal_bal | number : '1.2-2' }}
      </h1>
      <h1 class="display-1" style="padding-right:75px" *ngIf="loc?.principal_bal < 0">
        -${{ loc?.principal_bal * -1 | number : '1.2-2' }} CR
      </h1>
      <br>
      <span style="padding-left: 140px">
        Balance
      </span>
  </div>
<!-- </div> -->
<!-- <div class="d-flex justify-content-end"> -->
  <div>
    <h1 class="display-1"  style="padding-left: 75px">
      {{ loc?.apr * 100 }}%
    </h1>
    <br>
    <span style="padding-left: 140px">
      APR
    </span>
  </div>
</div>

<br><br><br>

<div class="d-flex justify-content-center">
  <table width="60%">
    <tr>
      <td style="padding-right:25px;">
        <form #drawForm="ngForm" (ngSubmit)="doDraw(drawForm)">
          <div class="form-row alignt-items-center">
            <div class="col-auto">
              <label class="sr-only" for="Withdrawal">Withdrawal</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <input type="text" class="form-control" id="drawamt" name="drawamt" placeholder="Withdrawal Amount" required ngModel>            
              </div>
            </div>

            <!-- <div class="col-auto"> -->
              <button [disabled]="showWithdrawalSpinner" class="btn btn-primary mb-2" type="submit">Withdraw</button>
              <img *ngIf="showSpinner" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    
              <!-- <button type="submit" class="btn btn-primary mb-2">Withdraw</button> -->
            <!-- </div> -->
          </div>
        </form>
      </td>

      <td>
        <form #payForm="ngForm" (ngSubmit)="makePayment(payForm)">
            <div class="form-row align-items-center">
              <div class="col-auto">
                <label class="sr-only" for="PaymentGroup">Payment</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                  </div>
                  <input type="text" class="form-control" id="payment" name="payment" placeholder="Payment Amount" required ngModel>
                </div>
              </div>
        
              <div class="col-auto">
                <button [disabled]="showPaymentSpinner" class="btn btn-primary mb-2" type="submit">
                  Pay Now
                  <img *ngIf="showPaymentSpinner" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </button>    
                <!-- <button type="submit" class="btn btn-primary mb-2">Pay Now</button> -->
              </div>
            </div>
          </form>
      </td>
    </tr>
  </table>
</div>

<br>
<hr width="70%">

<div class="d-flex justify-content-center">
    <h4>
      Activity
    </h4>
</div>

<table class="table table-striped table-hover">
  <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Action</th>
        <th scope="col">Amount</th>
        <th scope="col">New Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let w of withdrawals">
        <th scope="row"> {{ w?.created_at | date }} at {{ w?.created_at | date:'shortTime' }} </th>
        <td> Withdrawal </td>
        <td> ${{ w?.amount | number : '1.2-2'  }} </td>
        <td> ${{ w?.new_bal | number : '1.2-2' }} </td>
      </tr>
      <tr *ngFor="let p of payments">
        <th scope="row"> {{ p?.created_at | date }} at {{ p?.created_at | date:'shortTime' }}  </th>
        <td> Payment </td>
        <td> ${{ p?.amount | number : '1.2-2' }} </td>
        <td> ${{ p?.new_bal | number : '1.2-2' }} </td>
      </tr>
    </tbody>
</table>
<!-- <ul>
  <li *ngFor="let w of withdrawals">
    {{ w?.created_at | date: 'MM-dd-yyyy' }} : ${{ w?.amount }} : {{ w?.new_bal | number : '1.2-2' }}
  </li>
  <li *ngFor="let p of payments">
    {{ p?.created_at | date: 'MM-dd-yyyy' }} : ${{ p?.amount }} : {{ p?.new_bal | number : '1.2-2' }}
  </li>
</ul> -->






