<div>
  User: {{ user?.first_name }} {{ user?.last_name }}
  <br>
  Email Address: {{ user?.email }}
  <br>
</div>

<br>

<div>
  Credit Lines:
  <ul>
    <li *ngFor="let loc of user?.credit_lines">
      <a href="#"> {{ loc.name }} </a> - ${{ loc.principal_bal }}
      <br>
      Opened on {{ loc.created_at | date: 'MM-dd-yyyy' }}
    </li>
  </ul>
</div>

<br><br>

<div>
  <h5>Get a new line of credit</h5>
  <form #newLocForm="ngForm" (ngSubmit)="createLineOfCredit(newLocForm)">
    <div class="form-row">

      <div class="col-md-6 mb-4">
        <label for="validationDefault02">Name (e.g. "New Car!")</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name" required ngModel>
      </div>

    </div>

    <div class="form-row">

      <div class="col-md-3 mb-2">
        <label for="validationDefault03">Credit Limit</label>
        <input type="text" class="form-control" id="credit_limit" name="credit_limit" placeholder="$500" required ngModel>
      </div>

      <div class="col-md-3 mb-2">
        <label for="validationAPR">APR</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend2">%</span>
          </div>
          <input type="text" class="form-control" id="apr" name="apr" placeholder="APR" aria-describedby="inputGroupPrepend2" required ngModel>
        </div>  
      </div>

    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
